/*** Project Meta ***/

/* general - line __ */

/* header - line __ */

/* main content - line __ */

/* footer - line __ */

/** GENERAL **/

@use 'reset';
@use 'typography';

.html {
  font-family: typography.$font-stack;
  font-size: typography.$font-size;
}

.reset * {
  @include reset.reset;
}

.body {
  position: relative;
  background-image: url("https://raw.githubusercontent.com/SunnySparks/HTML-Capstone-Project/master/img/bg-gray2.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.content {
  width: 94%;
}

.about-section .content {
  width: 85%;
}

@media screen and (min-width: 768px) {
  .content {
    max-width: 800px;
  }

  .about-section .content {
    max-width: 700px;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    max-width: 1200px;
  }

  .about-section .content {
    max-width: 700px;
  }
}
