@font-face { font-family: Cocogoose; src: url('../fonts/cocogoose_trial-webfont.woff'); }

@font-face { font-family: Cocogoose; font-weight: bold; src: url('../fonts/cocogoose_trial-webfont.woff2'); }

.coco {
  font-family: Cocogoose, sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}