@use 'colors';
@use 'typography';

/* header */

.header {
	.header-background {
		background-color: transparentize(colors.$dark, 0.3%);
			.social-links {
				color: white;
				font-size: typography.$font-size - 1;
			}
	}
	.social-links,
	.menu-links {
		text-decoration: none;
	}
	.menu-li {
		margin-left: 5rem;
	}

	.nav2 {
		padding: 0.5rem 0;
	}

	.active {
		color: colors.$orange;
	}
}

.logo {
	width: 50px;
}

.campaign {
	color: colors.$orange;
	border: 4px solid colors.$orange;
	margin-left: 6rem;
	padding: 1rem;
}
