@use 'colors';
/* header */

.header {
	.header-background {
		background-color: transparentize(colors.$dark, 0.5%);
			.social-links {
				color: white;
			}
	}
	.social-links,
	.menu-links {
		text-decoration: none;
	}
}

/* main-content */
/* footer */