@use 'colors';
@use 'typography';
@use 'functions';

/* main-content */

.conference {
	padding: 10rem 0;
}

.pad {
	padding: 0 1.5%;
}

.hello {
	font-size: typography.$font-size * 2.8;
}

.hello,
.conference-heading {
	color: colors.$orange;
}

.conference-heading {
	font-size: typography.$font-size * 4;
	font-weight: 1000;
	color: darken(colors.$orange, 10%);
}

.theme {
	border: 4px solid white;
	padding: 1rem;
	line-height: 2;
	font-size: typography.$font-size * 1.3;
	background-color: #d3d3d3;
}

.theme1 {
	border: 3px solid functions.tint(colors.$dark, 50%);
	margin-bottom: 5rem;
}

.date {
	font-size: typography.$font-size * 3;
	padding: 0 1.5%;
	font-weight: 1000;
	color: colors.$dark;
}

.ticket-table {
	display: grid;
	grid-template-columns: 1fr repeat(3, 2fr) 3fr;
}

.day-ticket-2 {
	grid-column: 3 / 5;
	grid-row: 1 / 2;
}

.currency {
	text-decoration: line-through;
	color: colors.$dark;
}

.currency,
.figure {
	color: colors.$orange;
}

.select-price {
	width: 8px;
}

.about-section .speak-section-title {
	width: 60%;
}

.menu-title {
	background-color: functions.tint(colors.$dark, 80%);
}

.select-dish {
	vertical-align: middle;
}

.address {
	font-size: typography.$font-size * 1.6;
	color: colors.$dark;
	margin-bottom: 6rem;
}

.address1 {
	background-color: colors.$grey;
}

.past1,
.past2 {
	position: relative;
	margin-bottom: 1.5rem;
}

.past-text,
.past-text1 {
	position: absolute;
	left: 20%;
	top: 40%;
	font-size: 1.4rem;
}

.past-pic,
.past-pic1 {
	width: 100%;
}

.event {
	background-color: transparentize(colors.$grey, 0.9%);
	margin: 1rem;
	padding: 1rem;
}

.event-pic {
	width: 20%;
	text-align: center;
}

.event-title {
	width: 30%;
}

.event-text {
	width: 50%;
}

.main-program-border {
	border: 1px solid colors.$orange;
	width: 2rem;
}

.program {
	background-color: colors.$dark;
	.main-program-border {
		border: 1px solid colors.$orange;
		width: 2rem;
	}
}


.program-logo {
	width: 4rem;
}

.program-title {
	color: colors.$orange;
	font-size: typography.$font-size * 1.7;
	font-weight: bold;
}

.div-text {
	width: 50%;
}

.program-text {
	font-size: typography.$font-size * 1.3;
	font-weight: bold;
}

.join {
	background-color: colors.$orange;
	outline: 0;
	font-size: typography.$font-size * 1.3;
	width: 75%;
}

.featured-speakers {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.see-all {
	text-decoration: underline;
}

@media screen and (max-width: 360px) {
	.conference-heading {
		font-size: typography.$font-size * 2;
	}
}


@media screen and (min-width: 768px) {
	.past {
		display: flex;
	}

	.past1,
	.past2 {
		width: 50%;
		margin-bottom: 0;
	}

	.past-text,
	.past-text1 {
		left: 13%;
		top: 40%;
	}
	
	.past1 {
		margin-right: 1rem;
	}

	.past2 {
		margin-left: 1rem;
	}

	.past-pic,
	.past-pic1 {
		width: 100%;
		margin: 0;
	}

	.event-pic,
	.event-title,
	.event-text {
		width: unset;
	}

	.event {
		margin: 0.2rem;
	}

	.programs {
		max-width: 800px;
	}

	.join {
		width: 40%;
	}

	.featured-speakers {
		max-width: 812.8px;
	}
}


@media screen and (min-width: 900px) {
	.conference {
		.conference-width {
			width: 70%;
		}
	}

	.centering {
		width: 70%;
	}
}

@media screen and (min-width: 1200px) {
	.conference {
		.conference-width {
			width: 55%;
		}
	}

	.centering {
		width: 60%;
	}

	.programs {
		max-width: 1200px;
	}

	.featured-speakers {
		max-width: 1212.8px;
	}
}
