@font-face { font-family: Cocogoose; src: url('../fonts/cocogoose_trial-webfont.woff'); }

@font-face { font-family: Cocogoose; font-weight: bold; src: url('..fonts/cocogoose_trial-webfont.woff2'); }

$font-stack: 'Cocogoose', 'Lato', sans-serif;
$font-size: 80%;